{% extends 'core/base.html' %}

{% block content %}
    <div style="text-align: center; padding: 50px;">
        <h1>مرحباً بك في مشروعنا الاحترافي!</h1>
        <p>هذه الصفحة هي أول صفحة محتوى يتم حقنها داخل الـ Base Layout.</p>
        
        {% if user.is_authenticated %}
            <p>أنت الآن مسجل دخول باسم: <strong>{{ user.username }}</strong></p>
        {% else %}
            <p>أنت تتصفح الموقع كـ زائر.</p>
        {% endif %}

       {% if user.is_authenticated %}

            <div class="mx-auto my-5 border border-gray-200 rounded">
                    <input type="text"
                           name="search"
                           placeholder="ابحث عن مستخدم..."
                           hx-get="{% url 'core:search_users' %}"
                           hx-trigger="keyup delay:500ms"
                           hx-target="#search-results"
                           hx-indicator="#loading-spinner"
                           class="my-3 border border-gray-200 rounded p-2">
                    <div id="loading-spinner" class="htmx-indicator">جاري البحث... </div>
                    <div id="search-results"></div>
             </div>

        {% endif  %}

    </div>




<!--<div class="grid grid-cols-1 md:grid-cols-3 gap-8 p-10">-->
<!--    {% plan_card title="Free" price="$0" features=free_features %}-->

<!--    {% plan_card title="Premium" price="$29" is_popular=True features=premium_features %}-->
<!--</div>-->





{% endblock %}