{% extends 'companies/base.html' %}

{% block provider_content %}

<div class="flex  items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class=" w-full p-8 bg-surface rounded-2xl ">
     <div class="w-full  ">
        {% back_button  url='companies:dashboard' %}

        <h2 class="text-xl font-bold text-center mb-8 text-content">
              {% trans "Jobs Applications" %}
        </h2>
     </div>
       <div class="w-full space-y-5">
           {% if job_apps  %}
               {% for row in job_apps  %}
                 {% candidate_row  row %}
               {% endfor  %}
           {% else  %}
                <b class="text-center mx-auto text-content-muted"> No Candidates </b>
           {% endif  %}
       </div>
    </div>

</div>



{% endblock  %}