

{% with form_id="delete-form-"|add:label|slugify %}
<form id="{{ form_id }}" action="{{ url }}" method="POST" class="inline-block">
    {% csrf_token %}
    <button type="button"
            onclick="confirmDelete('{{ form_id }}', '{{ message }}')"
            class="cursor-pointer flex justify-center text-center items-center gap-2 px-4 py-2 bg-err/10 text-err  rounded-xl transition duration-200   {{ extra_classes }}">

        <i data-lucide="trash-2" class="w-4 h-4"></i>

        <span class="font-medium text-center">
            {{ label }}
        </span>
    </button>
</form>
{% endwith %}

{% if not swal_script_loaded %}

<script>
    function confirmDelete(formId, message) {

        Swal.fire({
            title: '{% trans "تأكيد الحذف" %}',
            text: message,
            icon: 'warning',
            iconColor: 'var(--text-error)', // لون الأيقونة (يمكنك تغييره للـ brand إذا أردت)
            showCancelButton: true,
            confirmButtonText: '{% trans "نعم، احذف الآن" %}',
            cancelButtonText: '{% trans "تجاهل" %}',
            reverseButtons: {% if LANGUAGE_BIDI %}true{% else %}false{% endif %},

            // هذا السطر مهم جداً لتعطيل تنسيقات سويت أليرت الافتراضية واستخدام Tailwind
            buttonsStyling: false,
            background: 'var(--color-surface)',
            customClass: {
                popup: 'rounded-3xl  shadow-xl text-content p-6 z-index',
                title: 'text-2xl font-bold text-content',
                htmlContainer: 'text-content/80',
                confirmButton: ' cursor-pointer bg-brand text-white rounded-xl px-6 py-2 font-bold mx-2 transition hover:opacity-90',
                cancelButton: ' cursor-pointer  text-content rounded-xl px-6 py-2 font-bold mx-2 transition '
            }
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById(formId).submit();
            }
        });
    }
</script>

{% endif %}